@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* body {
  background: radial-gradient(
      circle at top,
      rgba(255, 220, 80, 0.75),
      transparent 65%
    ),
    radial-gradient(
      circle at bottom,
      rgba(255, 220, 0, 0.70),
      transparent 65%
    ),
    linear-gradient(to right, #020200, #1a1400);

  color: white;
  min-height: 100vh;
} */


body {
  background:
  radial-gradient(
    circle at top,
    rgba(40, 40, 40, 0.6),
    transparent 65%
  ),
  radial-gradient(
    circle at bottom,
    rgba(10, 10, 10, 0.8),
    transparent 65%
  ),
  linear-gradient(
    to right,
    #000000,
    #111111,
    #000000
  );


  color: white;
  min-height: 100vh;
}